.App {
	margin: 0 24px;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

p {
	margin: 0;
}

div.card {
	width: 100%;
	box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	padding: 24px;
}